*{
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
    height:600px;
    width:400px;
    padding: 40px;
    border-radius: 16px;
    background: black;
    border: 10px;
}
input{
    width: 230px;
    padding: 15px;
    margin:10px;
    background:grey;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}
input::placeholder{color:transparent;}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius:30%;
    background: rgb(3, 247, 247);
    color:white;
    font-size: 30px;
}
.equal{
    background: rgba(191, 0, 255, 0.684);
}
.operator{
    background: rgb(31, 12, 239);
}
.clear{
    background: rgb(37, 12, 239);
}
h1{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 5px;
    color:white;
}